USE [master]
GO
/****** Object:  Database [qlynhansu]    Script Date: 11-Nov-23 01:19:36 ******/
CREATE DATABASE [qlynhansu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlynhansu', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\qlynhansu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlynhansu_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\qlynhansu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlynhansu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlynhansu]
GO
/****** Object:  UserDefinedFunction [dbo].[TinhLuong]    Script Date: 11-Nov-23 01:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TinhLuong] (@MaNhanVien NVARCHAR(10), @Thang INT, @Nam INT)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @Luong DECIMAL(18, 2);

    SELECT @Luong = (
        NhanVien.HeSoLuong * 1500000 +
        ChamCong.SoNgayLamViec * 200000 * ChucVu.HeSoPhuCap
    ) - IIF(ChamCong.SoNgayLamViec < 20, (20 - ChamCong.SoNgayLamViec) * 500000, 0)
    FROM NhanVien
    INNER JOIN ChamCong ON NhanVien.MaNhanVien = ChamCong.MaNhanVien
    INNER JOIN ChucVu ON NhanVien.MaChucVu = ChucVu.MaChucVu
    WHERE NhanVien.MaNhanVien = @MaNhanVien AND ChamCong.Thang = @Thang AND ChamCong.Nam = @Nam;

    RETURN @Luong;
END;
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 11-Nov-23 01:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [nvarchar](10) NOT NULL,
	[MaNhanVien] [nvarchar](10) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[SoNgayLamViec] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 11-Nov-23 01:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [nvarchar](10) NOT NULL,
	[TenChucVu] [nvarchar](255) NOT NULL,
	[HeSoPhuCap] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luong]    Script Date: 11-Nov-23 01:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[MaLuong] [nvarchar](10) NOT NULL,
	[MaNhanVien] [nvarchar](10) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[Luong] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11-Nov-23 01:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[QueQuan] [nvarchar](255) NULL,
	[MaPhong] [nvarchar](10) NULL,
	[MaChucVu] [nvarchar](10) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[LoaiNguoiDung] [nvarchar](20) NULL,
	[HeSoLuong] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11-Nov-23 01:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [nvarchar](10) NOT NULL,
	[TenPhong] [nvarchar](255) NOT NULL,
	[DiaChiPhong] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [Thang], [Nam], [SoNgayLamViec]) VALUES (N'CC15211', N'NV98742', 8, 2023, 26)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [Thang], [Nam], [SoNgayLamViec]) VALUES (N'CC19572', N'NV19264', 5, 2019, 25)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [Thang], [Nam], [SoNgayLamViec]) VALUES (N'CC22610', N'NV19091', 2, 2020, 29)
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [HeSoPhuCap]) VALUES (N'CV13893', N'Chức vụ D', CAST(1.60 AS Decimal(5, 2)))
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [HeSoPhuCap]) VALUES (N'CV51085', N'Chức vụ C', CAST(1.10 AS Decimal(5, 2)))
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [HeSoPhuCap]) VALUES (N'CV58723', N'Chức vụ A', CAST(1.50 AS Decimal(5, 2)))
GO
INSERT [dbo].[Luong] ([MaLuong], [MaNhanVien], [Thang], [Nam], [Luong]) VALUES (N'L15211', N'NV98742', 8, 2023, CAST(10650000.00 AS Decimal(10, 2)))
INSERT [dbo].[Luong] ([MaLuong], [MaNhanVien], [Thang], [Nam], [Luong]) VALUES (N'L19572', N'NV19264', 5, 2019, CAST(8800000.00 AS Decimal(10, 2)))
INSERT [dbo].[Luong] ([MaLuong], [MaNhanVien], [Thang], [Nam], [Luong]) VALUES (N'L22610', N'NV19091', 2, 2020, CAST(11550000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [QueQuan], [MaPhong], [MaChucVu], [MatKhau], [LoaiNguoiDung], [HeSoLuong]) VALUES (N'NV12227', N'Nguyễn Thị G', N'Nữ', CAST(N'2002-06-01' AS Date), N'23 Quế Võ', N'59823742', N'Bắc Ninh', N'P87000', N'CV58723', N'pass9', N'admin', CAST(1.50 AS Decimal(5, 2)))
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [QueQuan], [MaPhong], [MaChucVu], [MatKhau], [LoaiNguoiDung], [HeSoLuong]) VALUES (N'NV15596', N'Lê Thị D', N'Nữ', CAST(N'1980-03-04' AS Date), N'78 Đường PQR', N'1112223333', N'Hải Phòng', N'P53344', N'CV51085', N'pass4', N'user', CAST(1.50 AS Decimal(5, 2)))
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [QueQuan], [MaPhong], [MaChucVu], [MatKhau], [LoaiNguoiDung], [HeSoLuong]) VALUES (N'NV19091', N'Đỗ Quang H', N'Nam', CAST(N'2001-09-19' AS Date), N'29 Đường 427', N'0338836098', N'Hà Nội', N'P53451', N'CV58723', N'QHuan1909!', N'admin', CAST(1.90 AS Decimal(5, 2)))
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [DiaChiPhong], [SoDienThoai]) VALUES (N'P23970', N'Phòng B', N'Địa chỉ B', N'1234823')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [DiaChiPhong], [SoDienThoai]) VALUES (N'P53344', N'Phòng D', N'Địa chỉ D', N'7538478')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [DiaChiPhong], [SoDienThoai]) VALUES (N'P53451', N'Phòng A', N'Địa chỉ A', N'42353433')
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Luong]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChucVu]  WITH CHECK ADD CHECK  (([HeSoPhuCap]>(1) AND [HeSoPhuCap]<(2)))
GO
USE [master]
GO
